<div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <table class="table table-striped table-hover">

        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereco</th>
            <th>Deletar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="clientes.length === 0">
            <td colspan="5" align="center">Nenhum registro encontrado.</td>
          </tr>
          <tr *ngFor="let cliente of clientes" class="clientes-relatorio">
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email}}</td>
            <td>{{ cliente.telefone}}</td>
            <td>{{ cliente.endereco}}</td>
            <td>
              <button class="btn btn-danger" (click)="onDelete(c); $event.stopPropagation()">Deletar</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

</div>