<div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <table class="table table-striped table-hover">

        <thead>
          <tr>
            <th>Cliente</th>
            <th>Equipamento</th>
            <th>Defeito</th>
            <th>Observações</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="oss.length === 0">
            <td colspan="5" align="center">Nenhum registro encontrado.</td>
          </tr>
          <tr *ngFor="let os of oss" class="oss-relatorio">
            <td>{{ os.cliente.nome}}</td>
            <td>{{ os.equipamento}}</td>
            <td>{{ os.defeito}}</td>
            <td>{{ os.observacoes}}</td>
            <td>
              <button type="button" class="btn btn-outline-info btn-sm " [routerLink]="['/os-detalhe', os.id]">View / Edit</button>
              <button type="button" class="btn btn-outline-danger btn-sm espaco" (click)="removeOs(os)">Delete </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

</div>