<form>
  <div class="form-row">
    <div class="col-xs-2">
      <label for="inputId4">Id</label>
      <input type="id" class="form-control" id="inputId4" placeholder="Ex: 00001">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Cliente</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Nilton</option>
      <option>Pedro</option>
      <option>Rodrigo</option>
      <option>Teu</option>
      <option>Teu 2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Marca do Equipamento</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Acer</option>
      <option>Dell</option>
      <option>HP</option>
      <option>Lenovo</option>
      <option>Positivo</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Defeito apresentado</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ex: Derramou Líquido no teclado"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea2">Outras observações</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="Ex: Verificar se não danificou outras peças"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Salvar</button>
  <button type="button" class="btn btn-secondary" (click)="goBack()">Voltar</button>
</form>